nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 60px;
  z-index: 2;
}
@media(width<400px){
  nav{
    justify-content:space-around;
  }
}
.--nav-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1rem;
  color: rgb(6, 101, 169);
  filter: drop-shadow(-1px 3px 1px #070000);
  letter-spacing: 0rem;
}
.--nav-subtitle{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
 letter-spacing: 0.35rem;
  margin-top:-20px;
  color: azure;
}

.menu {
  display: flex;
  flex-direction: row;
 color: azure;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom:50px
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-size:1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 120px;
    right: 0%;
    flex-direction: column;
    width: 30%;
   z-index:1;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    
  }
  #menu-toggle:checked ~ .menu li {
    border: none;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: azure;
    background-color: rgba(0, 0, 0, 0.8);
    z-index:0;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (width >= 1400px){
  nav {
    justify-content: space-evenly;
  }
}
@media (width < 500px){
  nav {
    height:120px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .--nav-subtitle{
  
  padding-bottom:1rem
}
}
@media (width >= 500px){
  .menu {
    
    margin-top: 60px;

}

}
@media(width<250px){
  .--nav-title{
    font-size:1rem;
  }
  .--nav-subtitle{
    font-size:0.75rem;
    
  }
  li{
    font-size:0.3rem
  }
}